.button {
  height: 35px;
  width: 250px;
  max-width: 100%;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  background-color: #F9AC19;
}

.button:focus {
  outline-width: 0;
}