.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  background-color: var(--background-opacity);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 150px;
  width: 80%;
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.title {
  height: 30px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
}

.closeIcon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.button {
  margin: 0;
}