.container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--page-background);
}

.info {
  width: calc(100% - 100px);
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  height: 100%;
  width: 50px;
  border: none;
  background-color: transparent;
}

.icon {
  font-size: 20px;
  color: var(--text-opposite);
}

.name {
  margin-bottom: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-opposite);
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-opposite);

}

.password {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-opposite);
}

.hide {
  -webkit-text-security: disc;
}

