.container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: var(--button-shadow);
  background-color: var(--color-yellow);
}

.logout {
  width: 100px;
}

.logoutButton {
  box-shadow: none !important;
}

.optionText {
  margin-left: 20px;
  color: var(--color-back);
}