.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  height: 50px;
  padding: 10px 15px;
}

.logout {
  width: 100px;
}

.logoutButton {
  box-shadow: none !important;
}

.optionText {
  text-transform: uppercase;
  color: var(--color-white);
}

.version {
  position: absolute;
  bottom: 5px;
  right: 50%;
  font-size: 11px;
}