.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--page-background);
}

.content {
  min-height: 100vh;
}

.brand {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 45vh;
  width: 100%;
  padding-top: 30px;
}

.logoImage {
  position: absolute;
  height: 120px;
}

.brandImage {
  width: 100%;
}

.nameContaner {
  position: absolute;
  top: 57%;
  width: 100%;
  text-align: center;
}

.appName {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 800;
  color: var(--text);
}

.keyIcon {
  position: relative;
  bottom: -5px;
  width: 25px;
}

.appSubname {
  font-family: Lato;
  font-size: 22px;
  font-weight: 300;
  color: var(--page-background);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 0% 15%;
}

.welcome {
  margin-bottom: 10px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-opposite);
}

.setTheme {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  color: var(--theme-icon);
}