.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.content {
  width: calc(100% - 50px);
  padding: 25px;
  padding-top: 80px;
}

.addButton {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #F9AC19;
  box-shadow: -4px 4px 6px -2px rgba(0,0,0,0.2);
}