.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
}

.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input {
  height: 100%;
  width: 250px;
  border: 0;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.596);
  color: #FFF;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}