:root {
    --white-color: #FFFFFF;
    --background-opacity: #2E2E2EBC
}

.light {
    --theme-color: #A80000;
    --page-background: #FFFFFF;
    --text: #FFFFFF;
    --text-opposite: #656565;

    --input-background: #FAFAFA;
    --input-border: #D6D6D6;
    --input-color: #252525;

    --theme-icon: #656565;

    --background: #F8F8F8;
}

.dark {
    --theme-color: #0000A8;
    --page-background: #000000;
    --text: #2B2828;
    --text-opposite: #D8D8D8;

    --input-background: #252525;
    --input-border: #D6D6D6;
    --input-color: #FFFFFF;

    --theme-icon: #FAFAFA;

    --background: #151515;
}